# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.env.local
.env.*.local
.venv/
venv/
ENV/
env/

# Node modules
node_modules/
jspm_packages/

# Next.js build outputs
.next/
out/

# Database files
*.db
*.sqlite

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo
